TG_BOT_TOKEN=
ADMIN_KEY=
DATABASE_URL=postgres://postgres:postgres@localhost:5432/replacer_bot
REDIS_URL=redis://redis:6379
VK_TOKENS_JSON={"123456789":"vk_group_token_here"}
VK_API_VERSION=5.131
WORKER_CONCURRENCY=3
VK_RPS=3
